{% extends 'core/base.html' %}

{% block main_content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Tạo yêu cầu hỗ trợ</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Loại yêu cầu</label>
                                {{ form.loai_yc }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nội dung yêu cầu</label>
                                {{ form.noi_dung_yc }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ghi chú</label>
                                {{ form.ghi_chu }}
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Gửi yêu cầu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}